#contactForm {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}

#contactForm form {
  background-color: #f3f6f6;
}

#contactForm form input {
  background-color: #e4eaea;
}

#contactForm form textarea {
  background-color: #e4eaea;
}


#contactForm form button {
  color: white;
  background-color: #30e3ca;
  border-radius: 5px;
  border: none;
  width: 150px;
  height: 40px;
}

section.page__content ul li {
  margin-bottom: 0;
}
