#contactForm {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}

#contactForm form {
  background-color: #f3f6f6;
}

#contactForm form input {
  background-color: #e4eaea;
}
